{% extends 'list.html' %}

{% block columns %}
    <tr>
        
        <th scope="col" >Tipo de Usuario</th>
        <th scope="col" >Opciones</th>
        
    </tr>
{% endblock %}



{% block rows %}


    {% for c in object_list %}
        <tr>
            
            <td>{{ c.nombre }}</td>
            


            <td>
                {% block options %}
                <a href=" {% url 'categoria_update' c.id %}  " type="button" class="btn btn-primary ">
                    <i class="fas fa-edit"></i>
                </a>
                <a href=" {% url 'categoria_delete' c.id %} " type="button" class="btn btn-danger ">
                    <i class="fas fa-trash-alt"></i>
                </a>

                {% endblock %}
            </td>
        </tr>
    {% endfor %}

{% endblock %}





{% block new %}
<div class="card-footer">
    <!-- <a href=" {% url 'categoria_create' %} " class="btn btn-primary btn-flat">
        Nuevo registro
    </a> -->

    <a href=" {% url 'categoria_create' %} " type="button" class="btn btn-primary">
        <i class="fas fa-plus"></i>Nuevo registro
    </a>

    <a href=" {% url 'categoria_list' %} " class="btn btn-success btn-flat">
        <i class="fas fa-retweet"></i>Actualizar
    </a>
</div>


 
{% endblock %}

{% block javascript %}



{% endblock %}